## 데이터프레임

- DataFrame: 테이블
- index: 개별 레코드를 식별하는 Key 값
- Series: 컬럼이 하나 뿐인 데이터 구조체

In [1]:
import pandas as pd
import os

bank_df = pd.read_csv('/content/bank.csv')
print('bank 변수 type:',type(bank_df))
bank_df

bank 변수 type: <class 'pandas.core.frame.DataFrame'>

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [ ]:
# 데이터 살펴보기

bank_df.head(3) ## 맨 위 3개 레코드
bank_df.tail(3) ## 맨 마지막 3개 레코드
bank_df.sample(3) ## 랜덤 3개 레코드

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes

In [ ]:
# (row 수, Column 수)
print('DataFrame 크기: ', bank_df.shape)

# 요약 정보 표시 (칼럼마다 정보 표시)
bank_df.info() ## object -> 문자

DataFrame 크기:  (11162, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [ ]:
# 기술통계량(평균 등) 표시
bank_df.describe() ## 숫자 데이터 타입을 가진 열만 출력

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [ ]:
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

## 컬럼 다루기

`.value_counts()`

In [ ]:
value_counts=bank_df['deposit'].value_counts()
print(value_counts)

no     5873
yes    5289
Name: deposit, dtype: int64

In [ ]:
bank_deposit=bank_df['deposit']
print(type(bank_deposit))

## no, yes => index

<class 'pandas.core.series.Series'>

In [ ]:
# [[]] 괄호를 2번 쓴다 => 이때는 Series가 아니라 DataFrame이 된다
bank_deposit1=bank_df[['deposit']]
print(type(bank_deposit1))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(type(value_counts))

<class 'pandas.core.series.Series'>

In [6]:
bank_df['age_group']=bank_df['age']//10  # //는 나눈 몫
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,age_group
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,5
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,5
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,4
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,5
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no,3
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no,3
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no,3
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no,4
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no,3

In [7]:
bank_df['age_group']+=1
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,age_group
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,6
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,6
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,5
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,6
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no,4
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no,4
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no,4
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no,5
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no,4

In [ ]:
bank_df_drop=bank_df.drop('age_group',axis=1)
bank_df_drop

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [ ]:
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,age_group
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,6
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,6
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,5
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,6
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no,4
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no,4
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no,4
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no,5
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no,4

In [ ]:
# .drop(name, axis, inplace)
bank_df.drop('age_group',axis=1, inplace=True)
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [ ]:
# row 삭제

In [ ]:
bank_df.drop([0,2,5], axis=0, inplace=True)
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [ ]:
# index를 다시 부여됨 (삭제한 후 유용)
## .reset_index(drop: bool, inplace: bool)
### drop 예전 인덱스를 삭제할 지?
bank_df.reset_index(drop=True,inplace=True)

In [ ]:
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
1,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
2,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
3,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
4,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11154,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11155,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11156,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11157,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11158,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

## 데이터 선택
1. indexing

[Bool | Name(index)]


2. .iloc

단, index는 물리적인 순서다.

.iloc[Row_index, Column_index]

3. .loc

.loc[Row, Column]

### index

In [ ]:
bank_df[bank_df['deposit']=='yes']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
1,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
2,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
3,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
4,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5281,78,retired,divorced,primary,no,1389,no,no,cellular,8,apr,335,1,-1,0,unknown,yes
5282,30,management,single,tertiary,no,398,no,no,cellular,27,oct,102,1,180,3,success,yes
5283,69,retired,divorced,tertiary,no,247,no,no,cellular,22,apr,138,2,-1,0,unknown,yes
5284,48,entrepreneur,married,secondary,no,0,no,yes,cellular,28,jul,431,2,-1,0,unknown,yes
5285,31,admin.,single,secondary,no,131,yes,no,cellular,15,jun,151,1,-1,0,unknown,yes

In [ ]:
bank_df[bank_df['deposit']=='yes'][['age','job','marital']]

      age           job   marital
0      56        admin.   married
1      55      services   married
2      54        admin.   married
3      56    management   married
4      60       retired  divorced
...   ...           ...       ...
5281   78       retired  divorced
5282   30    management    single
5283   69       retired  divorced
5284   48  entrepreneur   married
5285   31        admin.    single

[5286 rows x 3 columns]

### loc

In [ ]:
bank_df.loc[bank_df['deposit']=='yes']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
1,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
2,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
3,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
4,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5281,78,retired,divorced,primary,no,1389,no,no,cellular,8,apr,335,1,-1,0,unknown,yes
5282,30,management,single,tertiary,no,398,no,no,cellular,27,oct,102,1,180,3,success,yes
5283,69,retired,divorced,tertiary,no,247,no,no,cellular,22,apr,138,2,-1,0,unknown,yes
5284,48,entrepreneur,married,secondary,no,0,no,yes,cellular,28,jul,431,2,-1,0,unknown,yes
5285,31,admin.,single,secondary,no,131,yes,no,cellular,15,jun,151,1,-1,0,unknown,yes

In [ ]:
bank_df.loc[bank_df['deposit']=='yes',['age','job','marital']]

      age           job   marital
0      56        admin.   married
1      55      services   married
2      54        admin.   married
3      56    management   married
4      60       retired  divorced
...   ...           ...       ...
5281   78       retired  divorced
5282   30    management    single
5283   69       retired  divorced
5284   48  entrepreneur   married
5285   31        admin.    single

[5286 rows x 3 columns]

In [11]:
# loc에서는 슬라이싱할 때, 마지막 요소까지 들어감
bank_df.loc[:10, :]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,age_group
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,6
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,6
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,5
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,6
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,6
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes,5
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes,6
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes,7
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes,4
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes,3
10,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes,4

In [ ]:
bank_df.loc[bank_df['deposit']=='yes'][['age','job','marital']]

      age           job   marital
0      56        admin.   married
1      55      services   married
2      54        admin.   married
3      56    management   married
4      60       retired  divorced
...   ...           ...       ...
5281   78       retired  divorced
5282   30    management    single
5283   69       retired  divorced
5284   48  entrepreneur   married
5285   31        admin.    single

[5286 rows x 3 columns]

### 불리안 인덱싱

In [ ]:
bank_df[(bank_df['deposit']=='yes')&(bank_df['age']>=50)]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
1,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
2,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
3,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
4,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5273,53,technician,married,secondary,no,-725,yes,no,unknown,27,may,1205,1,-1,0,unknown,yes
5274,51,retired,married,primary,no,67,no,no,unknown,18,jun,835,1,-1,0,unknown,yes
5276,62,management,divorced,tertiary,no,5943,no,no,telephone,17,feb,196,4,-1,0,unknown,yes
5281,78,retired,divorced,primary,no,1389,no,no,cellular,8,apr,335,1,-1,0,unknown,yes
5283,69,retired,divorced,tertiary,no,247,no,no,cellular,22,apr,138,2,-1,0,unknown,yes

### iloc

In [ ]:
bank_df.iloc[:,1:5]

               job   marital  education default
0           admin.   married  secondary      no
1         services   married  secondary      no
2           admin.   married   tertiary      no
3       management   married   tertiary      no
4          retired  divorced  secondary      no
...            ...       ...        ...     ...
11154  blue-collar    single    primary      no
11155     services   married  secondary      no
11156   technician    single  secondary      no
11157   technician   married  secondary      no
11158   technician   married  secondary      no

[11159 rows x 4 columns]

In [ ]:
bank_df.iloc[:10,:3]

   age          job   marital
0   56       admin.   married
1   55     services   married
2   54       admin.   married
3   56   management   married
4   60      retired  divorced
5   37   technician   married
6   28     services    single
7   38       admin.    single
8   30  blue-collar   married
9   29   management   married

## 정렬과 집합(집계) 함수

In [ ]:
bank_sorted=bank_df.sort_values(by=['age']) # 정렬 by = 기준, ascending(오름차순)
bank_sorted

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
2461,18,student,single,unknown,no,108,no,no,cellular,10,aug,167,1,-1,0,unknown,yes
4216,18,student,single,unknown,no,3,no,no,cellular,25,aug,130,2,-1,0,unknown,yes
2651,18,student,single,unknown,no,108,no,no,cellular,8,sep,169,1,-1,0,unknown,yes
2932,18,student,single,primary,no,608,no,no,cellular,13,nov,210,1,93,1,success,yes
6453,18,student,single,secondary,no,5,no,no,cellular,24,aug,143,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,92,retired,married,unknown,no,775,no,no,cellular,26,jan,164,4,96,3,success,yes
2799,92,retired,married,unknown,no,775,no,no,cellular,22,oct,313,3,-1,0,unknown,yes
3753,93,retired,married,unknown,no,775,no,no,cellular,22,jul,860,2,177,7,success,yes
3819,93,retired,married,unknown,no,775,no,no,cellular,4,aug,476,2,13,9,success,yes
1579,95,retired,divorced,primary,no,2282,no,no,telephone,21,apr,207,17,-1,0,unknown,yes

In [ ]:
bank_sorted=bank_df.sort_values(by=['age'],ascending=False)
bank_sorted

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
1579,95,retired,divorced,primary,no,2282,no,no,telephone,21,apr,207,17,-1,0,unknown,yes
3819,93,retired,married,unknown,no,775,no,no,cellular,4,aug,476,2,13,9,success,yes
3753,93,retired,married,unknown,no,775,no,no,cellular,22,jul,860,2,177,7,success,yes
2799,92,retired,married,unknown,no,775,no,no,cellular,22,oct,313,3,-1,0,unknown,yes
3095,92,retired,married,unknown,no,775,no,no,cellular,26,jan,164,4,96,3,success,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3491,18,student,single,unknown,no,348,no,no,cellular,5,may,443,4,-1,0,unknown,yes
4216,18,student,single,unknown,no,3,no,no,cellular,25,aug,130,2,-1,0,unknown,yes
2495,18,student,single,primary,no,608,no,no,cellular,12,aug,267,1,-1,0,unknown,yes
2461,18,student,single,unknown,no,108,no,no,cellular,10,aug,167,1,-1,0,unknown,yes
3171,18,student,single,unknown,no,108,no,no,cellular,9,feb,92,1,183,1,success,yes

In [ ]:
# Not-Null 개수
bank_df.count()

age          11159
job          11159
marital      11159
education    11159
default      11159
balance      11159
housing      11159
loan         11159
contact      11159
day          11159
month        11159
duration     11159
campaign     11159
pdays        11159
previous     11159
poutcome     11159
deposit      11159
dtype: int64

In [ ]:
# 최댓값
bank_df['age'].max()

95

In [ ]:
# 다중 집계함수 사용
bank_df['age'].agg(['max','mean','min'])

max     95.000000
mean    41.230307
min     18.000000
Name: age, dtype: float64

In [ ]:
bank_df.groupby(by='deposit')[['age','balance']].mean() # 그룹화 .groupby(by='기준')

               age      balance
deposit
no       40.837391  1280.227141
yes      41.666856  1804.608400

## NULL / NA 처리

python에서는 똑같이 취급한다.
NA -> not available
NULL -> not defined

In [ ]:
bank_df.isna() # NA이면 True 아니면 False

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11154,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11155,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11156,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11157,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11158,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
bank_df.isnull() # isna와 동일한 역할

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11154,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11155,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11156,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11157,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11158,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
bank_df.isna().sum() # 컬럼끼리 합 -> Missing Value를 확인

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [ ]:
bank_df.isna().sum().sum()

0

In [12]:
import numpy as np
bank_df.iloc[0,0]=np.nan ## NaN - 숫자로 쓸 수 없음 Not a Number
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,age_group
0,NaN,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,6
1,56.0,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,6
2,41.0,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,5
3,55.0,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,6
4,54.0,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33.0,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no,4
11158,39.0,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no,4
11159,32.0,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no,4
11160,43.0,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no,5
11161,34.0,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no,4

In [ ]:
bank_df.isna().sum().sum()

1

In [ ]:
bank_df['age']=bank_df['age'].fillna(bank_df['age'].mean())
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,41.228984,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
1,55.000000,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
2,54.000000,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
3,56.000000,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
4,60.000000,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11154,33.000000,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11155,39.000000,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11156,32.000000,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11157,43.000000,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11158,34.000000,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [ ]:
bank_df.isna().sum().sum()

0

In [15]:
# lambda 이름없는 함수
## lambda x: return값 조건문

# .apply(func): 특정 함수를 적용
bank_df['target']=bank_df['deposit'].apply(lambda x: 1 if x=='yes' else 0)
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,age_group,target
0,NaN,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,6,1
1,56.0,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,6,1
2,41.0,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,5,1
3,55.0,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,6,1
4,54.0,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33.0,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no,4,0
11158,39.0,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no,4,0
11159,32.0,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no,4,0
11160,43.0,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no,5,0
11161,34.0,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no,4,0

In [ ]:
# .replace(past, future, inplace)
bank_df['target'].replace([0,1],['no','yes'],inplace=True)

In [16]:
# .replace({past: future}, inplace)
bank_df['target'].replace({0:'no',1:'yes'},inplace=True)

In [17]:
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,age_group,target
0,NaN,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,6,yes
1,56.0,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,6,yes
2,41.0,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,5,yes
3,55.0,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,6,yes
4,54.0,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,6,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33.0,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no,4,no
11158,39.0,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no,4,no
11159,32.0,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no,4,no
11160,43.0,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no,5,no
11161,34.0,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no,4,no

In [ ]:
bank_df['target'].replace({'no':0,'yes':1},inplace=True)

In [ ]:
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,age_group,target
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,6,1
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,6,1
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,5,1
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,6,1
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no,4,0
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no,4,0
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no,4,0
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no,5,0
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no,4,0

In [ ]:
bank_df['age_cat']=bank_df['age'].apply(lambda x: 'Teenager' if x<=19 else ('Adult' if x<=60 else 'Elderly'))
bank_df['age_cat'].value_counts()

Adult       10527
Elderly       611
Teenager       21
Name: age_cat, dtype: int64

In [ ]:
def get_age_category(age):
    cat=""
    if age<=19:
        cat="Teenager"
    elif age<=60:
        cat="Adult"
    else:
        cat="Elderly"
    return cat

In [ ]:
bank_df['age_cat']=bank_df['age'].apply(lambda x: get_age_category(x))
bank_df['age_cat'].value_counts()

Adult       10527
Elderly       611
Teenager       21
Name: age_cat, dtype: int64